<?xml version="1.0" encoding="utf-8"?>
<manifest package="ds.wifimagicswitcher"
    xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".WifiReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.SCAN_RESULTS" />
                <!-- <action android:name="android.net.wifi.RSSI_CHANGED"/>-->
                <!--<action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>-->
            </intent-filter>
        </receiver>

        <receiver android:name=".StartupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1f312301efd5023083b15d340b8963cbf0c8ad14" />

    </application>

</manifest>
